.carousel {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  display: flex;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  width: 288px;
  white-space: normal;
  padding: 0 1rem;
  flex: 0 0 auto;

  & img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    max-height: 160px;
    border-radius: 12px;
  }
}

.carousel-item-title {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.carousel-item-description {
  font-size: .875rem;
  font-weight: 500;
  color: var(--text-base);
}

@media (min-width: 1280px) {
  .carousel {
    width: 110%;
    margin-right: 20px;
    scroll-snap-type: none; 
    anchor-name: none;
    scroll-marker-group: none;
  }

  .carousel-item {
    width: 25%; 
    padding: 0 0.5rem;
    scroll-snap-align: none; 
  }
  
  .carousel::scroll-marker-group,
  .carousel-item::scroll-marker,
  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    display: none;
  }
}