.slider {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  width: 288px;
  white-space: normal;
  padding: 0 1rem;
  flex: 0 0 auto;

  & img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 288px;
    max-height: 160px;
    border-radius: 12px;
  }
}

.slide-title {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.slide-desc {
  font-size: .875rem;
  font-weight: 500;
  color: var(--text-base);
}

@media (min-width: 1280px) {
  .slider {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }

  .slide {
    width: 288px;
    padding: 0 1rem;
    flex: 0 0 auto;
  }

  .slide img {
    width: 288px;
    max-height: 160px;
  }
}
