* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.25;
    font-family: "Epilogue", sans-serif;
    background-color: #F8F6F6;
}

img {
    max-width: 100%;
    height: auto;
}


.logo {
    display: none;
}

.delivery-text {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 1.312rem 2rem 1.312rem;
    border-top: 1px solid #2216101A ;  
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
} 


.menu-item {
    list-style-type: none;
    width: 2rem; 
}


.menu-link {
    display: flex;
    flex-direction: column;
    gap: .5rem;   
    text-decoration: none;
    align-items: center;
    color: #71717A;
    font-size: 0.75rem;
    vertical-align: bottom;
}

.delivery-address {
    text-align: center;
    padding: 3.375rem 0 1.5rem 0;
    font-size: 0.75rem;
    font-weight: bold;
    color: #EC5413;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-address i {
    width: 1rem;
    height: 1rem;
}

.greeting-user {
    display: flex;                
    justify-content: space-between;
    align-items: center;
}

.user-info p {
    margin: 0; 
    font-weight: medium;
    font-size: 1.25rem;
    color: #1F2937;
}

.user-info a {
    color: #EC5413;
    font-size: 0.75rem;
    font-weight: 500;
}
.user-info a:hover {
    text-decoration: underline;
}

.user-points {
    background-color: #ec541314;
    color: #EC5413;          
    padding: .5rem .75rem;
    border-radius: 50px;      
    font-weight: bold;
    font-size: 0.875rem;
}
