* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  background-color: rgb(248, 246, 246);
}

#address {
  color: rgb(236, 84, 19);
  font-weight: 700;
}

#seta {
  vertical-align: middle;
  max-width: 16px;
  max-height: 16px;
}

#arrumar-pontuacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pontos {
  color: rgb(236, 84, 19);
  background-color: rgba(236, 84, 19, 0.1);
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 8px 12px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-inline: 0.375rem;
}

#navegacao {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 16px 21px 36px 21px;
}

.logo {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.menu-item {
  list-style-type: none;

  & a {
    color: rgb(113, 113, 122);
    width: 36px;
    height: 44px;
  }
}

#start {
  color: rgb(236, 84, 19);
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

.delivery-address {
  text-align: center;
  margin: 3.313rem 1.5rem;
}

.delivery-text {
  display: none;
}

.header {
  margin-bottom: 2.125rem;
}

.greeting-user {
  & p {
    font-size: 1.25rem;
  }

  & a {
    font-size: 0.75rem;
    color: rgb(236, 84, 19);
  }
}

.promotion {
  & img {
    max-width: 288px;
    max-height: 160;
    border-radius: 12px;
  }
}

.promotion-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.promotion-text {
  font-size: 0.875rem;
  color: rgb(75, 85, 99);
}

#order-again {
  margin-top: 3.438rem;

  & h2 {
    margin-bottom: 1.75rem;
  }
}

.order-again-img {
  float: left;
  width: 138px;
  height: 138px;
  border-radius: 12px;
  margin-right: 1rem;
}

.order-again-title {
  margin-bottom: 2.5rem;
  font-weight: 700;
  color: rgb(75, 85, 99);
}
.order-again-price {
  margin-bottom: 2.5rem;
  font-weight: 900;
  color: rgb(24, 19, 17);
}
.order-again-add {
  text-decoration: none;
  font-weight: 600;
  color: rgb(236, 84, 19);
}

@media (min-width: 1280px) {
  .logo {
    display: block;
  }

  .menu-link {
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .delivery-address {
    text-align: right;
  }

  .delivery-text {
    display: inline;
  }
}
