.button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  border: 0;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-base);
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.button.full {
  width: 100%;
}

.button:hover {
  background-color: color-mix(in srgb, var(--interface-border), white 10%);
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

.button.primary {
  background-color: var(--brand-primary);
  color: var(--common-light);
}

.button.primary:hover {
  background-color: color-mix(in srgb, var(--brand-primary), var(--interface-darkest) 10%);
}

.button.primary:disabled {
  background-color: color-mix(in srgb, var(--brand-primary), white 50%);
}

