.button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  border: 0;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-base);
  transition: background-color 0.2s ease-in;
  cursor: pointer;

  &.full {
    width: 100%;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--interface-border), white 10%);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
  }
}

.primary {
    background-color: var(--brand-primary);
    color: var(--common-light);

    &:hover {
      background-color: color-mix(in srgb, var(--brand-primary), var(--interface-darkest) 10%);
    }

    &:disabled {
      background-color: color-mix(in srgb, var(--brand-primary), white 50%);
    }
}

.button.change-address {
  border: 0;
  background: none;
  color: var(--brand-primary);
  font-weight: 700;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.button.change-address svg {
  transform: scale(0.7);
  stroke: currentColor;
}

.button.change-address span {
  display: none;
}

.button.change-address:focus,
.button.change-address:focus-visible,
.button.change-address:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

@media (min-width: 1280px) {
  .button.change-address svg {
    display: none;
  }

  .button.change-address span {
    display: block;
    text-decoration: underline;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--brand-primary);
  }
}