* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--interface-light);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-darkest);
  margin-bottom: 1.5rem;
}

.offers {
  margin: 0 0 2.5rem 0;
}

.product-description {
  font-size: .75rem;
  font-weight: 500;
  color: var(--text-base);
  margin-bottom: .5rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  font-weight: 800;
  color: var(--brand-primary);
  margin-bottom: .5rem;
}