
#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  border-top: 1px solid var(--interface-border);
  background-color: var(--interface-light);
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-light);

  &.active {
    color: var(--brand-primary);
  }
}

.logo {
  display: none;
}

@media (min-width: 1280px) {

  #navigation {
    z-index: 1;
    top: 0;
    position: relative;
    border-top: none;
    border-bottom: 1px solid var(--interface-border);
  }

  .navigation-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 2rem;
  }

  .logo {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    color: var(--text-base);
    width: 50%;
  }

  .menu {
    width: 33%;
    margin-right: 0;
  }

  .menu-link {
    flex-direction: row;
  }
}