.carousel-container {
  display: flex;          /* Isso é o que coloca um ao lado do outro */    /* Define a direção horizontal */
  gap: 20px;              /* Espaçamento entre as imagens */
  overflow-x: auto;       /* Permite rolar se tiver muitas imagens */
  padding: 20px;
}

.carousel-item {
  min-width: 30px;       /* Define uma largura mínima para cada card */
  flex: 0 0 auto;         /* Impede que o card encolha */
}

.carousel-item img {
  width: 288px;
  height: 160px;
  object-fit: cover;      /* Ajusta a imagem sem distorcer */
  border-radius: 20px;
}