.carousel {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  display: flex;
  gap: 1rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  width: 288px;
  white-space: normal;
  padding: 0 1rem;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.carousel-item img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 288px;
  max-height: 160px;
  border-radius: 12px;
}

.carousel-item-title {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.carousel-item-description {
  font-size: .875rem;
  font-weight: 500;
  color: var(--text-base);
}

@media (min-width: 1280px) {

  .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    scroll-snap-type: x mandatory;
  }

}