.address-dialog {
  z-index: 20;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 16px);
  padding: 1rem;
  border: 1px solid var(--interface-border);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--interface-light);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-out;
}

.address-dialog.open {
  bottom: 0;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.dialog-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-small {
  width: 30vw;
}

.text-field {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--interface-base);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-darkest);
}

.text-field::placeholder {
  color: var(--text-light);
}

.text-field:read-only,
.text-field:disabled {
  background-color: var(--interface-disabled);
}

.form-grid {
  display: flex;
  gap: 1rem;
}

.button.primary.full {
  width: 100%;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1280px) {
  body {
    width: 100vw;
  }

  .address-dialog {
    right: -30vw;
    left: auto;
    bottom: auto;
    width: 30vw;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    border-radius: 0;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  }

  .address-dialog.open {
    right: 0;
  }

  .input-small {
    width: 8rem;
  }
}