.carousel-item {
  width: 288px;
  min-width: 288px;
  max-width: 288px;
  white-space: normal;
  padding: 0 1rem 0 0;
  flex: 0 0 auto;
}

.carousel-item img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 288px;
  max-height: 160px;
  border-radius: 12px;
}

.carousel-item-title {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-darkest);
}

.carousel-item-description {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-base);
}